In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from pathlib import Path
import sklearn
from sklearn import metrics
import mord

In [2]:
# Run this cell to load the data. 
data_file = Path("data/part1", "cleaned_data.hdf")
train = pd.read_hdf(data_file, "train")
test = pd.read_hdf(data_file, "test")

In [3]:
#split 80/20 by time...for users with more than 10 ratings...
#famous movies, train--test(eliminate the famous movies)
#predict their score for this movie and compare to actual rating(linear regression!)--choose top 5...lol :(
#two separate problems...

In [7]:
train["userId"].value_counts()-3 >=0

76540     True
36204     True
25960     True
127171    True
119791    True
68233     True
121055    True
13244     True
77753     True
41714     True
26222     True
22512     True
35356     True
32768     True
107288    True
124413    True
64326     True
10224     True
110609    True
26214     True
91740     True
94106     True
80476     True
85987     True
89795     True
33035     True
12892     True
83151     True
77514     True
16174     True
          ...
113962    True
38705     True
17914     True
123734    True
104857    True
34296     True
51418     True
63609     True
109747    True
92019     True
48774     True
30385     True
8744      True
874       True
6589      True
20564     True
87399     True
56770     True
7935      True
91404     True
106323    True
20534     True
41075     True
15316     True
106814    True
95778     True
55490     True
66805     True
82878     True
23634     True
Name: userId, Length: 800, dtype: bool

In [12]:
def valid_users(train, test):
    valid_train = train.value_counts()-8>=0
    valid_test = test.value_counts()-2>=0
    valid_both = pd.concat(valid_train.index,valid_test.index,join = 'inner')
    return valid_both

105498    1984
106906    1821
68710     1475
48527     1412
110846    1245
94827     1155
48551      877
134499     873
101274     813
42466      775
74318      762
129008     739
69654      707
73187      707
13049      623
69969      562
96884      547
114482     538
78487      470
63580      470
93886      410
76928      404
70263      364
22886      362
69407      348
121935     341
35410      333
114614     320
91885      312
94686      302
          ...
7338        25
130315      25
75507       24
89455       23
60142       23
38091       22
100495      22
17816       22
111604      22
106740      22
79319       22
79444       22
92564       22
99909       22
53567       21
120226      21
33499       21
124940      21
114497      21
56982       20
127454      20
22523       20
21610       20
96117       20
29121       20
96174       20
42882       20
86109       20
103237      20
116575      20
Name: userId, Length: 200, dtype: int64

In [7]:
Phi_train = train.iloc[:,7:]
Y_train = train["rating"]
Phi_test = test.iloc[:,7:]
Y_test = test["rating"]

In [9]:
clf2 = mord.OrdinalRidge(alpha=1.)
clf2.fit(Phi_train,Y_train)
print("train accuracy: ", metrics.mean_absolute_error(clf2.predict(Phi_train), Y_train))
print('Mean Absolute Error of LogisticAT %s' %
      metrics.mean_absolute_error(clf2.predict(Phi_test), Y_test))

train accuracy:  0.8527225599017367
Mean Absolute Error of LogisticAT 0.8075389531431156

# STEP 1 Recommendation

In [10]:
clf2.predict(Phi_test)

array([3., 3., 3., ..., 4., 3., 4.])

*content based recommendation*

In [ ]:
utility = pd.concat([train.loc[:,"userId":"movieId"], train.loc[:,"Action":"Western"], train["rating"]], axis = 1)
#utility.set_index("movieId", inplace = True)

# Case 1

In [ ]:
#example
#these are item profiles
#0 1 1 1 0 3a
#1 0 1 1 1 2a
#features could be set of actors, and avg rating
#take cosine distance to find distance btwn the two users.

In [ ]:
#also create user profiles
#each feature will be avged over every movie user has rated

#case 1: utility matrix has boolean value
#home alone home alone 2
#5           5
#value for macaulay culkin: 1(since all movies the user has rated have macaulay culkin)
#1 rating = avg rating over all movies?

#case 2: utility matrix not boolean--variation from avg rating for item.

In [8]:
#example 1:
#item profile for Maverick
maverick = smaller_ratings[smaller_ratings["title"] =="Maverick (1994)"].mean()
maverick = pd.concat([maverick.loc["Action":"Western"], maverick[["rating"]]], axis = 0) #since series...gotta join rating to bottom...
maverick

Action         0.000000
Adventure      1.000000
Animation      0.000000
Children       0.000000
Comedy         1.000000
Crime          0.000000
Documentary    0.000000
Drama          0.000000
Fantasy        0.000000
Film-Noir      0.000000
Horror         0.000000
IMAX           0.000000
Musical        0.000000
Mystery        0.000000
Romance        0.000000
Sci-Fi         0.000000
Thriller       0.000000
War            0.000000
Western        1.000000
rating         3.420635
dtype: float64

In [25]:
#user profile...who never rated maverick b4.
user = smaller_ratings[~(smaller_ratings["title"] =="Maverick (1994)")].iloc[0]["userId"]
user = smaller_ratings[smaller_ratings["userId"] == user].mean() #mean of every column value.
user = pd.concat([user.loc["Action":"Western"], user[["rating"]]], axis = 0)
user

Action         0.524194
Adventure      0.411290
Animation      0.064516
Children       0.056452
Comedy         0.370968
Crime          0.129032
Documentary    0.000000
Drama          0.193548
Fantasy        0.145161
Film-Noir      0.008065
Horror         0.104839
IMAX           0.008065
Musical        0.016129
Mystery        0.072581
Romance        0.096774
Sci-Fi         0.427419
Thriller       0.298387
War            0.040323
Western        0.016129
rating         3.774194
dtype: float64

In [ ]:
#cosine similarity btwn user and maverick.
cos_user_maverick = np.dot(maverick, user)/(np.linalg.norm(maverick)*np.linalg.norm(user))
cos_user_maverick
#interpretation:
#highest similarity, ie lowest cosine distance means lots of genres in common for movies user watched, and current movie
#since rating is extremely high, it outweighs the only intersection of adventure movies, and makes similarity really high

#in terms of what to do with many movies...calculate cosine similarity for every movie and the user. Then, recommend movies with top similarity scores.

In [54]:
###MVP###
mvp_utility = utility.loc[:,"userId":"Action"]
tony = 332 #predict top movies for him.
utility_tony = mvp_utility[mvp_utility["userId"] == tony]

#only think about case 1:
tony_scores = utility_tony.mean()
top_five_scores = mvp_utility.apply(lambda row: cos(row["Action"], tony_scores["Action"]),axis = 1). \
                    sort_values(ascending = False).iloc[:5]

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: invalid value encountered in double_scalars
  from ipykernel import kernelapp as app

In [55]:
top_five_scores

19997376    1.0
4590221     1.0
4588101     1.0
4588102     1.0
4588374     1.0
dtype: float64

In [45]:
top_five = utility[utility["movieId"].isin(popularity(utility).index)]

# Case 2

In [56]:
#example of converting a utility matrix to a user_complex_profile
#mvp of just julia roberts, and iklaq su as actors.
    # J Roberts  Iklaq Su  rating
#SW1  1           1                     5
#SW2  1           1                     5
#SW3  0           1                     4

#-->
                     #ratings
#J Roberts             5              5                 0(ie no rating)
#Iklaq Su     5              5                 4

#columns -=> rows, rows ==> columns---value = r,c value * rating since r,c 1 denotes present, 0 denotes absent
#transpose, and new value = previous val * rating?
utility_ex = pd.DataFrame(index = ['SW1','SW2','SW3'],data = {'Julia Roberts' :[1,1,0],'Iklaq Su': [1,1,1], 'rating': [5,5,4]})
n = utility_ex.shape[1]
ratings_ex = utility_ex.T.apply(lambda col: col[0:n-1]*col[n-1], axis = 0)
ratings_ex

               SW1  SW2  SW3
Julia Roberts    5    5    0
Iklaq Su         5    5    4

In [57]:
#next example of converting utility complex to normalized values...
#subtract avg rating of Tony Tony from ratings(based on movies)

                     #ratings
#J Roberts             5              5                 0(ie no rating)
#Iklaq Su     5              5                 4
#-->

#avg rating = (5+5+4)/3 = 14/3
##J Roberts             1/3              1/3                 -14/3
#Iklaq Su     1/3              1/3               -2/3
ratings_ex = ratings_ex - utility_ex["rating"].mean()
ratings_ex

                    SW1       SW2       SW3
Julia Roberts  0.333333  0.333333 -4.666667
Iklaq Su       0.333333  0.333333 -0.666667

In [58]:
#get avg normalized rating for each user:
ratings_ex.mean(1)

Julia Roberts   -1.333333e+00
Iklaq Su        -2.960595e-16
dtype: float64